In [32]:
import pandas as pd

In [33]:
bank = pd.read_csv('bank.csv',sep=';')

In [34]:
bank

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [7]:
bank_add = pd.read_csv('bank-additional (2).csv')

In [8]:
bank_add

     age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]